<div class="container">
<h1>Your Boards</h1>

    <div class="row">
      <div class="grid grid-container">
        <div class="grid-sizer"></div>

      {{#each boards}} {{> boards/boards-partial}} {{/each}}
      </div>
    </div>

    
</div>

<!-- Footer-->
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-4">
          <!-- Text widget-->
          <aside class="widget widget_text">
            <div class="textwidget">
              <p>
                <img src="/images/logoFooter.png" width="125" alt="logo">
              </p>
              <p>We are a team of bootcamp students working on this project like it's our full time job. Any amount would help
                support and continue development on this project and is greatly appreciated.
            </div>
          </aside>
        </div>

        <div class="col-md-6 col-lg-4">
          <!-- Recent entries widget-->
          <aside class="widget widget_recent_entries">
            <div class="widget-title">
              <h5>Connect With Us</h5>
            </div>
            <ul>
              <li>
                <a href="https://github.com/tmederos">Trish Mederos</a>
                <span class="post-date"></span>
              </li>
              <li>
                <a href="#">Alan Smith</a>
                <span class="post-date"></span>
              </li>
              <li>
                <a href="https://github.com/grstoltz">Grant Stolz</a>
                <span class="post-date"></span>
              </li>
              <li>
                <a href="https://github.com/akt12345">Abby Thoresen</a>
                <span class="post-date"></span>
              </li>

            </ul>
          </aside>
        </div>

        <div class="col-md-6 col-lg-4">
          <!-- Tags widget-->
          <aside class="widget widget_tag_cloud">
            <div class="widget-title">
              <h5>Technologies Used</h5>
            </div>
            <div class="tagcloud">
              <a href="#">JavaScript</a>
              <a href="#">jQuery</a>
              <a href="#">mySQL</a>
              <a href="#">API Routes</a>
              <a href="#">HTML5</a>
              <a href="#">Bootstrap 4</a>
              <a href="#">CSS</a>
              <a href="#">Bootstrap 4</a>
              <a href="#">Node</a>
            </div>
          </aside>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="text-center">
              <span class="copyright">© 2018 Pissedtrest, All Rights Reserved.</div>
          </div>
        </div>
      </div>
    </div>
  </footer>

 <!-- Modal -->
  <div class="modal fade" id="uploadModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Upload</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form method="POST" enctype="multipart/form-data" id="fileUploadForm">
            <div class="form-group">
              <label for="fileTitle">Title</label>
              <input type="email" class="form-control" id="fileTitle" placeholder="Title">
            </div>
            <div class="form-group">
              <label for="fileDesc">Description</label>
              <input type="email" class="form-control" id="fileDesc" placeholder="Description">
            </div>
            <div class="form-group">
              <label for="fileCat">Category</label>
              <input type="email" class="form-control" id="fileCat" placeholder="Category">
            </div>
            <div class="form-group">
              <label for="inputFile">File input</label>
              <input type="file" class="form-control-file" id="inputFile" name="files" />
            </div>
            <button id="btnSubmit" type="submit" value="Submit" class="btn btn-primary">Upload</button>
          </form>
        </div>
      </div>
    </div>
  </div>
<!-- Board Modal -->
  <div class="modal fade" id="boardModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add to a board</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <select id="userCategory">
            <option disabled selected value> -- Select an existing board -- </option>
            
          </select>
          <p>Or create a new board</p>
          <form>
            <div class="form-group">
              <label for="newBoardInput">New Board</label>
              <input type="text" class="form-control" id="newBoardInput" aria-describedby="emailHelp" placeholder="Board Name">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="boardSubmit">Add to Board</button>
      </div>
      </div>
    </div>
  </div>

  {{!-- Login Modal --}}
    <div class="modal fade" id="loginModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Please Log In</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>You must be logged in to access that feature!</p>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" href="/auth/google">Log Me In</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
      </div>
    </div>
  </div>