{{log this}}
<div class="container">
  <div id="catContainer" class="row align-items-center justify-content-center border mt-5 mb-5 p-4">
    <div class="col text-center">
      <button type="button" class="btn btn-primary categoryBtn">Cat 1</button>
    </div>
    <div class="col text-center">
      <button type="button" class="btn btn-primary categoryBtn">Cat 2</button>
    </div>
    <div class="col text-center">
      <button type="button" class="btn btn-primary categoryBtn">Cat 3</button>
    </div>
    <div class="col text-center">
      <button type="button" class="btn btn-primary categoryBtn">Cat 4</button>
    </div>
    <div class="col text-center">
      <button type="button" class="btn btn-primary categoryBtn">Cat 5</button>
    </div>
    <div class="col text-center">
      <button type="button" class="btn btn-primary categoryBtn">Cat 6</button>
    </div>
  </div>

  
  <div class="row">
    <div class="grid grid-container">
      {{#each pins}} {{> pins/pins-partial}} {{/each}}
    </div>
  </div>
{{!-- 
  <div class="row">
 {{#each pins}} 
    {{> pins/pins-partial}} 
  {{/each}}
  </div> --}}
</div>

 <!-- Modal -->
  <div class="modal fade" id="uploadModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Upload</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form method="POST" enctype="multipart/form-data" id="fileUploadForm">
            <div class="form-group">
              <label for="fileTitle">Title</label>
              <input type="email" class="form-control" id="fileTitle" placeholder="Title">
            </div>
            <div class="form-group">
              <label for="fileDesc">Description</label>
              <input type="email" class="form-control" id="fileDesc" placeholder="Description">
            </div>
            <div class="form-group">
              <label for="fileCat">Category</label>
              <input type="email" class="form-control" id="fileCat" placeholder="Category">
            </div>
            <div class="form-group">
              <label for="inputFile">File input</label>
              <input type="file" class="form-control-file" id="inputFile" name="files" />
            </div>
            <button id="btnSubmit" type="submit" value="Submit" class="btn btn-primary">Upload</button>
          </form>
        </div>
      </div>
    </div>
  </div>
<!-- Board Modal -->
  <div class="modal fade" id="boardModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add to a board</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <select id="userCategory">
            <option disabled selected value> -- Select an existing board -- </option>
            
          </select>
          <p>Or create a new board</p>
          <form>
            <div class="form-group">
              <label for="newBoardInput">New Board</label>
              <input type="text" class="form-control" id="newBoardInput" aria-describedby="emailHelp" placeholder="Board Name">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="boardSubmit">Add to Board</button>
      </div>
      </div>
    </div>
  </div>

  {{!-- Login Modal --}}
    <div class="modal fade" id="loginModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Please Log In</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>You must be logged in to access that feature!</p>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" href="/auth/google">Log Me In</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
      </div>
    </div>
  </div>