#category-search{
  width: 500px;
}

#catContainer {
  margin: 0 auto;
}

.grid {
  margin: 0 auto;
}

.grid-item {
  margin-bottom: 10px;
  overflow: auto;
  padding: 1px;
  float: left;
  position: relative;

}
.grid-sizer {
  width: 5%;
  height: 5%;
}

.grid-item img {
  width: 100%;
  height: 100%;
  margin: auto;
  overflow: auto;
  position: relative;
}

.card-text {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.card-text:hover {
  opacity: 100;
}


.grid-item:hover .card-text {
    opacity: 100;
    color: #fff;
}

.grid-item:hover .card-title {
  opacity: 100;
  color: #fff;
}

.grid-item:hover {
  background-color:#C6242E;
  -webkit-transition: .4s;
  transition: .4s;
}


.gutter-sizer {
  width: 10%;
}

.navbar{
background-color: #1b1d1f!important;
}

.btn.btn-dark.btn-outline {
  white-space: normal;
}

.bg-secondary {
    background-color: #1b1d1f!important;
}

.a{
  color: #ffffff;
}

.nav-link{
  color: #ffffff;
}

#searchBtn{
margin-right: 20px;
}

@media (min-width: 992px) and (max-width: 1199px) { 
  #category-search{
    width: 300px;
  }
}

@media (max-width: 767px) { 
  #category-search{
    width: 250px;
    margin-right:10px;
  }
}

@media (max-width: 575px) { 
  #category-search{
    width: 225px;
    margin-right:10px;
  }
}

@media (max-width: 400px) { 
  #category-search{
    width: 200px;
    margin-right:10px;
  }
}