
body {
  margin: 0;
  padding: 0;
}

.container {
  background-color: rgb(205, 243, 255);
  height: 100%;
  width: 100%;
}

.grid {
  margin-top: 5%;
 background-color: bisque;
}

.grid-item {
  overflow: auto;
  padding: 1%;
  margin-bottom: 4%;
  float: left;
  position: relative;
}
.grid-item img {
  width: 90%;
  height: 90%;
  margin: auto;
  overflow: auto;
  position: relative;
  -webkit-animation-duration: 3s;
  -webkit-animation-direction: 2s; 
  -webkit-transition: width 2s;
  transition: width 2s;
}

.card-text {
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin: auto;
}

.grid-item img:hover {
  width: 80%;

}

.grid-item--width2 {
  width: 40%
}

.grid-item:hover .card-text {
  opacity: 100;
}



.grid-sizer {
  width: 15%;
  height: 15%;
}
.gutter-sizer {
  width: 5%;
}
