<div class="grid-item card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">{{this.category}}</h5>
        <span>
            <button type="button" class="btn btn-circle btn-dark boardBtn" id="{{this.category}}">View this board</button>
        </span>
    </div>
</div>