<div class="grid-item card" style="width: 18rem;">
    <img class="animated bounceIn card-img-top" src="/{{this.filepath}}" alt="">
    <div class="card-body">
        <h5 class="card-title">{{this.title}}</h5>
        <p class="card-text">{{this.description}}</p>
        <span>
            <button type="button" class="btn btn-circle btn-dark pinBtn" id={{this.id}}>Pin It!</button>
        </span>
    </div>
</div>